
.cone { 
  margin-top: -20px; 
  width: 0px;
  border-right: 45px solid transparent;
  border-left: 45px solid transparent;
  border-top: 140px solid black;
  border-radius: 3px; 
}

.cone::after {
  content: '';
  position: relative;  
  top: -16px;  
  left: -38px;  
  border-right: 38px solid transparent;
  border-left: 38px solid transparent;
  border-top: 120px solid tan;  
}

.cup { 
  margin-top: -20px; 
  width: 0px;
  border-right: 45px solid transparent;
  border-left: 45px solid transparent;
  border-top: 140px solid black;
  border-radius: 3px; 
}

.cup::after {
  content: '';
  position: relative;  
  top: -16px;  
  left: -38px;  
  border-right: 38px solid transparent;
  border-left: 38px solid transparent;
  border-top: 120px solid tan;  
}