@import "tailwindcss";
@theme   {
  --color-primary: #00011b;
  --color-secondary: #a5dcec;
  --color-accent: #f8f8f8;
  --color-background-main: #fbd7dc;
  --color-background-accent: #fd8091;
}
 
 
 