@import "tailwindcss";
@theme   {
  --color-primary: #00011b;
  --color-secondary: #a5dcec;
  --color-accent: #f8f8f8;
  --color-button-accent: oklch(0.828 0.189 84.429); 
  --color-button-submit: #cdcdcd;
  --color-background-main: #fbd7dc;
  --color-background-accent: #fd8091;
}
 
 
 